 <!--==========================
    Footer
  ============================-->
 <footer class="yuki-footer-area">
   <div class="yuki-footer-row yuki-footer-row-bottom" data-row="bottom"><div class="container mx-auto px-gutter flex flex-wrap">
       <div class="yuki-builder-column yuki-builder-column-0 yuki-builder-column-all yuki-builder-column-desktop-dir-row yuki-builder-column-tablet-dir-row yuki-builder-column-mobile-dir-row yuki_footer_builder_col_bottom_0_all flex">
         <div data-builder-element="footer-menu" class="yuki-menu-wrap h-full yuki_footer_el_menu_wrap">
           <ul class="sf-menu clearfix yuki-menu yuki_footer_el_menu yuki-menu-has-arrow sf-js-enabled sf-arrows" style="touch-action: pan-y;">
             <li class="page_item page-item-2">
               <a href="/">EVERYDAY-365<span class="yuki-menu-icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span></a>
             </li>
           </ul>
       </div>
   </div>
       <div class="yuki-builder-column yuki-builder-column-1 yuki-builder-column-all yuki-builder-column-desktop-dir-row yuki-builder-column-tablet-dir-row yuki-builder-column-mobile-dir-row yuki_footer_builder_col_bottom_1_all flex">
         <div data-builder-element="copyright" class="yuki-copyright yuki-raw-html yuki_footer_el_copyright">
           국내 최고 스포츠 분석 사이트</a>
         </div>
       </div>
     </div>
   </div>
 </footer>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript /libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/modal-video/js/modal-video.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>

  <script src="/js/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>
 <script>
     $(function(){
         // 스크롤바 너비 계산 및 CSS 변수 설정
         var scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;
         if (scrollbarWidth > 0) {
             $('body').css('--scrollbar-width', scrollbarWidth + 'px');
         }

         // 토글 타겟을 가진 모든 요소에 대한 이벤트 핸들러 설정
         $('[data-toggle-target]').each(function() {
             let $this = $(this);
             if (!$this.hasClass('yuki-toggleable')) {
                 $this.addClass('yuki-toggleable');
                 $this.on('click', function() {
                     let $target = $($(this).data('toggle-target'));
                     //let $showFocus = $($(this).data('toggle-show-focus'));
                     let $hiddenFocus = $($(this).data('toggle-hidden-focus'));
                     console.log("$target ", $target)
                     $target.toggleClass('active');
                     if ($target.hasClass('active')) {
                         $('body').addClass('yuki-modal-visible');
                         /*if ($showFocus.length) {
                             setTimeout(function() {
                                 $showFocus.first().focus();
                             }, 100);
                         }*/
                     } else {
                         setTimeout(function() {
                             $('body').removeClass('yuki-modal-visible');
                             if ($hiddenFocus.length) {
                                 $hiddenFocus.first().focus();
                             }
                         }, 300);
                     }
                 });
             }
         });
     });
 </script>