<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>myHistory</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
 <%- include('layout/back.ejs') %>
  <script src="https://kit.fontawesome.com/9122867515.js" crossorigin="anonymous"></script>

</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <%- include('layout/header.ejs') %>
 <!--==========================
    Hero Section
  ============================-->

  <!--==========================
    Blog Section
  ============================-->
  <section id="_humor" class="padd-section wow fadeInUp">
    <div class="section-title text-center">
      <h2>유머/이슈</h2>
      <p class="separator"><a href="javascript:goBlog()">더보기</a></p>
    </div>
    <div class="container">
      <div class="row" id="blog_area">
      </div>
    </div>
  </section>

    <%- include('layout/footer.ejs') %>
  
    <script>
      $(()=>{

        $.ajax({
          url:"/v1/blog/top3",
          type:"GET",
          success:(data)=>{ 
            var datas  = data.data;
            var values = '';
            var webDomain = window.location.protocol+ "//" + window.location.host;
            if(datas == null || datas.length == 0) {
              values="<div class='blog-none'>작성된 블로그 내용이 없습니다.</div>";
              $("#blog_area").html(values);
              return false;
            }
    
            for(var i = 0; i < datas.length;i++){
              var mainImg = datas[i].MAIN_IMG;
              if(mainImg == null) mainImg = '/imges/blog/blog-image-1.jpg';
    
              values += ` <div class="col-md-6 col-lg-4 mt-5">
                            <div class="block-blog text-left">
                              <a href="javascript:void(0)"><img src="${(mainImg === ""?"/imges/blog/blog-image-1.jpg":mainImg)}"width='100%' height='220' onerror="this.src='${webDomain}/imges/blog/blog-image-1.jpg'"></a>
                              <div class="content-blog">
                                <span class='category'><h5>유머/이슈</h5></span>
                                <h4 class='title'><a href="#">${datas[i].TITLE}</a></h4>
                                <hr/>
                                <span class="byline meta-item"> <i class="fas fa-feather" aria-hidden="true"></i>  <span class='date'>Score365</span></span>
                                /
                                <span class='entry-date'><i class="far fa-calendar" aria-hidden="true"></i> <span class='date'>${datas[i].REG_DTTM}</span></span>
                                <a class="pull-right readmore" href="/v1/blog/detail/${datas[i].BLOG_SEQ}?category=${btoa('detail')}">View Details</a>
                              </div>
                            </div>
                          </div>`;
            }
    
            $("#blog_area").html(values);
          },
          error:(err)=>{
            console.log(err);
          }
        });
    
      });
    function goBlog(){
      location.href="/v1/blog?scope=paging";
    }
    </script>
</body>
</html>