<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>myHistory</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="keywords" content="SCCORE365, 실시간 분석, 유머, 후방주의, 움짤, 연예인">
  <meta name="description" content="실시간으로 올라오는 스포츠 분석,움짤,후방주의,연예인 짤을 빠르고 재밌게 감상해보세요!">
 <%- include('layout/back.ejs') %>
  <script src="https://kit.fontawesome.com/9122867515.js" crossorigin="anonymous"></script>

</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <%- include('layout/header.ejs') %>
 <!--==========================
    Hero Section
  ============================-->

  <!--==========================
    Blog Section
  ============================-->
  <section id="_humor" class="padd-section wow fadeInUp">
    <div class="section-title text-center">
      <h2>유머/이슈</h2>
      <p class="separator"><a href="javascript:goBlog()">더보기</a></p>
    </div>
    <div class="container">
      <div class="row" id="blog_area">
      </div>
    </div>
  </section>

    <%- include('layout/footer.ejs') %>
  
    <script>
      $(()=>{

        const requestParams = {cpage:1,limit:10,title:'',category:'',selectSize:10,scope:'paging',content:'',memberSeq:0};

        $.ajax({
          url:"/v1/blog/list",
          type:"GET",
          data:requestParams,
          success:(data)=>{ 
            let datas  = data.data;
            let values = '';
            let webDomain = window.location.protocol+ "//" + window.location.host;
            if(datas == null || datas.length == 0) {
              values="<div class='blog-none'>작성된 블로그 내용이 없습니다.</div>";
              $("#blog_area").html(values);
              return false;
            }
    
            for(var i = 0; i < datas.length;i++){
              let mainImg = datas[i].MAIN_IMG;
              console.log("mainImg : ", mainImg)
              if(mainImg == null) mainImg = '/imges/blog/blog-image-1.jpg';
    
              values += ` <div class="col-md-6 col-lg-4 mt-5">
                            <div class="block-blog text-left">
                              <a href="/v1/blog/detail/${datas[i].COMM_SEQ}"><img src="${(mainImg === ""?"/imges/blog/blog-image-1.jpg":mainImg)}"width='100%' height='220' onerror="this.src='${webDomain}/imges/blog/blog-image-1.jpg'"></a>
                              <div class="content-blog">
                                <span class='category'><h5>유머/이슈</h5></span>
                                <h4 class='title'><a href="/v1/blog/detail/${datas[i].COMM_SEQ}">${datas[i].TITLE}</a></h4>
                                <hr/>
                                <span class="byline meta-item"> <i class="fas fa-feather" aria-hidden="true"></i>  <span class='date'>Score365</span></span>
                                /
                                <span class='entry-date'><i class="far fa-calendar" aria-hidden="true"></i> <span class='date'>${datas[i].REG_DTTM}</span></span>
                                <a class="pull-right readmore" href="/v1/blog/detail/${datas[i].COMM_SEQ}">View Details</a>
                              </div>
                            </div>
                          </div>`;
            }
    
            $("#blog_area").html(values);
          },
          error:(err)=>{
            console.log(err);
          }
        });
    
      });
    function goBlog(){
      location.href="/v1/blog?scope=paging";
    }
    </script>
</body>
</html>