
                                        :root {
                                            --yuki-transparent: rgba(0, 0, 0, 0);
                                            --yuki-light-primary-color: #ffc300;
                                            --yuki-light-primary-active: #fca311;
                                            --yuki-light-accent-color: #003566;
                                            --yuki-light-accent-active: #14213d;
                                            --yuki-light-base-color: #ffffff;
                                            --yuki-light-base-100: #f8f8f8;
                                            --yuki-light-base-200: #e0e0e0;
                                            --yuki-light-base-300: #c5c5c5;
                                            --yuki-dark-primary-color: #ffc300;
                                            --yuki-dark-primary-active: #fca311;
                                            --yuki-dark-accent-color: #c5c5c5;
                                            --yuki-dark-accent-active: #e5e5e5;
                                            --yuki-dark-base-color: #171717;
                                            --yuki-dark-base-100: #2a2a2a;
                                            --yuki-dark-base-200: #373747;
                                            --yuki-dark-base-300: #4f4f4f;
                                            --yuki-content-base-color: var(--yuki-accent-color);
                                            --yuki-headings-color: #f67ee6;
                                        }
                                     .yuki-preloader-wrap {
                                         --yuki-preloader-background: #17212a;
                                         --yuki-preloader-primary: var(--yuki-primary-color);
                                         --yuki-preloader-accent: #f3f4f6;
                                         position: fixed;
                                         top: 0;
                                         left: 0;
                                         width: 100%;
                                         height: 100%;
                                         z-index: 100000;
                                         display: flex;
                                         align-items: center;
                                         background: var(--yuki-preloader-background);
                                     }

.yuki-preloader-4 {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: auto;
    color: var(--yuki-preloader-accent);
}

.yuki-preloader-4::before,.yuki-preloader-4::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.yuki-preloader-4::after {
    color: var(--yuki-preloader-primary);
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

                                   .yuki-container {
                                       padding-top: 24px;
                                       padding-bottom: 24px;
                                   }

.yuki-body {
    background-color: var(--yuki-base-100);
    background-image: none;
    --yuki-max-w-content: auto;
    --wp-admin-bar-height: 32px;
}

.card-list {
    --card-gap: 12px;
    --card-thumbnail-width: 35%;
}

.card-wrapper {
    width: 33.33%;
}

.card {
    background-color: var(--yuki-base-color);
    background-image: none;
    box-shadow: rgba(44, 62, 80, 0.15) 0px 15px 18px -15px;
    border: none;
    --lotta-border-initial-color: var(--yuki-base-200);
    --lotta-border-border-initial-color: var(--yuki-base-200);
    border-radius: 4px 4px 4px 4px;
    text-align: left;
    justify-content: flex-start;
    --card-content-spacing: 20px;
    --card-thumbnail-spacing: 0px;
}

.card .entry-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5;
    --yuki-initial-color: var(--yuki-accent-active);
    --yuki-hover-color: var(--yuki-primary-color);
}

.card .entry-metas {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.65rem;
    line-height: 1.5;
    text-transform: capitalize;
    --yuki-meta-link-initial-color: var(--yuki-accent-color);
    --yuki-meta-link-hover-color: var(--yuki-primary-color);
}

.card .entry-categories {
    font-family: inherit;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5;
    --yuki-tax-text-initial: var(--yuki-primary-color);
    --yuki-tax-text-hover: var(--yuki-primary-active);
}

.card .entry-tags {
    font-family: inherit;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5;
    --yuki-tax-text-initial: var(--yuki-primary-color);
    --yuki-tax-text-hover: var(--yuki-primary-active);
}

.card .entry-excerpt {
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--yuki-accent-color);
    --yuki-link-initial-color: Link Initial;
    --yuki-link-hover-color: Link Hover;
}

.card .entry-excerpt .yuki-entry-excerpt-more {
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.card .entry-thumbnail {
    height: 240px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
}

.card .entry-divider {
    --entry-divider: 1px dashed var(--lotta-border---entry-divider-initial-color);
    --lotta-border-initial-color: var(--yuki-base-300);
    --lotta-border---entry-divider-initial-color: var(--yuki-base-300);
}

.card .entry-read-more {
    --yuki-button-height: 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
    text-transform: capitalize;
    --yuki-button-padding: 0.85em 1.25em 0.85em 1.25em;
    --yuki-button-radius: 2px 2px 2px 2px;
    --yuki-button-text-initial-color: var(--yuki-accent-active);
    --yuki-button-text-hover-color: var(--yuki-base-color);
    --yuki-button-initial-color: var(--yuki-transparent);
    --yuki-button-hover-color: var(--yuki-accent-active);
    --yuki-button-border: 1px solid var(--lotta-border---yuki-button-border-initial-color);
    --lotta-border-initial-color: var(--yuki-base-300);
    --lotta-border---yuki-button-border-initial-color: var(--yuki-base-300);
    --lotta-border-hover-color: var(--yuki-accent-active);
    --lotta-border---yuki-button-border-hover-color: var(--yuki-accent-active);
}

.yuki-archive-header {
    text-align: left;
}

.yuki-archive-header .container {
    padding: 24px 24px 24px 24px;
}

.yuki-archive-header .archive-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2;
    text-transform: capitalize;
    color: var(--yuki-accent-active);
}

.yuki-archive-header .archive-description {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--yuki-accent-color);
}

.yuki-pagination {
    --yuki-pagination-button-border: 1px solid var(--lotta-border---yuki-pagination-button-border-initial-color);
    --lotta-border-initial-color: var(--yuki-base-200);
    --lotta-border---yuki-pagination-button-border-initial-color: var(--yuki-base-200);
    --yuki-pagination-button-radius: 4px;
    --yuki-pagination-initial-color: var(--yuki-accent-active);
    --yuki-pagination-active-color: var(--yuki-base-color);
    --yuki-pagination-accent-color: var(--yuki-primary-color);
    font-family: inherit;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    justify-content: center;
}

.yuki-sidebar .yuki-widget {
    background-color: var(--yuki-base-color);
    background-image: none;
    border: none;
    --lotta-border-initial-color: var(--yuki-base-200);
    --lotta-border-border-initial-color: var(--yuki-base-200);
    box-shadow: rgba(44, 62, 80, 0.15) 0px 15px 18px -15px;
    padding: 12px 12px 12px 12px;
    border-radius: 4px 4px 4px 4px;
}

.yuki-sidebar {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5em;
    --yuki-widgets-text-color: var(--yuki-accent-color);
    --yuki-widgets-link-initial: var(--yuki-accent-color);
    --yuki-widgets-link-hover: var(--yuki-primary-active);
    text-align: left;
    --yuki-sidebar-width: 27%;
    --yuki-sidebar-gap: 24px;
    --yuki-widgets-spacing: 24px;
}

.yuki-sidebar .widget-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5em;
    text-transform: uppercase;
    color: var(--yuki-accent-active);
    --yuki-heading-indicator: var(--yuki-primary-active);
}

.yuki-to-top {
    box-shadow: rgba(44, 62, 80, 0.15) 0px 10px 20px 0px;
    border-radius: 3px 3px 3px 3px;
    --yuki-to-top-icon-initial: var(--yuki-base-color);
    --yuki-to-top-icon-hover: var(--yuki-base-color);
    --yuki-to-top-background-initial: var(--yuki-accent-active);
    --yuki-to-top-background-hover: var(--yuki-primary-color);
    --yuki-to-top-icon-size: 14px;
    --yuki-to-top-bottom-offset: 48px;
    --yuki-to-top-side-offset: 48px;
}

form, .yuki-form, [type="submit"] {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.5em;
}

.yuki-form-classic,.yuki-form-modern {
    --yuki-form-background-color: var(--yuki-base-color);
    --yuki-form-border-color: var(--yuki-base-300);
    --yuki-form-active-color: var(--yuki-primary-color);
}

.yuki-form-modern {
    --yuki-form-border-top: none;
    --yuki-form-border-right: none;
    --yuki-form-border-left: none;
    --yuki-form-border-bottom: 2px solid var(--yuki-form-border-color);
    --yuki-form-checkbox-border-top: 2px solid var(--yuki-form-background-color);
    --yuki-form-checkbox-border-right: 2px solid var(--yuki-form-background-color);
    --yuki-form-checkbox-border-left: 2px solid var(--yuki-form-background-color);
    --yuki-form-checkbox-border-bottom: 2px solid var(--yuki-form-border-color);
}

.yuki-off-canvas .yuki-modal-inner {
    box-shadow: rgba(44, 62, 80, 0.35) 0px 0px 70px 0px;
    background-color: var(--yuki-base-color);
    background-image: none;
    --yuki-modal-action-initial: var(--yuki-accent-color);
    --yuki-modal-action-hover: var(--yuki-primary-color);
    width: 500px;
    margin-right: auto;
}

.yuki-off-canvas {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
}

.yuki_header_el_widgets .yuki-widget {
    background-color: var(--yuki-transparent);
    background-image: none;
    border: none;
    --lotta-border-initial-color: var(--yuki-base-200);
    --lotta-border-border-initial-color: var(--yuki-base-200);
    box-shadow: none;
    padding: 0px 0px 0px 0px;
    border-radius: 4px 4px 4px 4px;
}

.yuki_header_el_widgets {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5em;
    --yuki-widgets-text-color: var(--yuki-accent-color);
    --yuki-widgets-link-initial: var(--yuki-accent-color);
    --yuki-widgets-link-hover: var(--yuki-primary-active);
    width: 100%;
    text-align: left;
    --yuki-widgets-spacing: 24px;
}

.yuki_header_el_widgets .widget-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5em;
    text-transform: uppercase;
    color: var(--yuki-accent-active);
    --yuki-heading-indicator: var(--yuki-primary-active);
}

.yuki_header_builder_col_modal_0_desktop {
    padding: 0px 0px 0px 0px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_el_collapsable-menu {
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5em;
    --menu-items-divider: 1px solid var(--lotta-border---menu-items-divider-initial-color);
    --lotta-border-initial-color: var(--yuki-base-200);
    --lotta-border---menu-items-divider-initial-color: var(--yuki-base-200);
    --menu-text-initial-color: var(--yuki-accent-color);
    --menu-text-hover-color: var(--yuki-primary-color);
    --menu-text-active-color: var(--yuki-primary-color);
    --menu-dropdown-toggle-border: 1px solid var(--lotta-border---menu-dropdown-toggle-border-initial-color);
    --lotta-border---menu-dropdown-toggle-border-initial-color: var(--yuki-base-200);
}

.yuki_header_builder_col_modal_0_mobile {
    padding: 0px 0px 0px 0px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_builder_col_top_bar_0_desktop {
    padding: 0px 0px 0px 0px;
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_builder_col_top_bar_1_desktop {
    padding: 0px 0px 0px 0px;
    width: 30%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_builder_col_top_bar_0_mobile {
    padding: 0px 0px 0px 0px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki-header-row-primary_navbar {
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 7% 69%;
    box-shadow: none;
    border-top: none;
    --lotta-border-initial-color: var(--yuki-base-200);
    --lotta-border-border-top-initial-color: var(--yuki-base-200);
    --lotta-border-border-top-hover-color: rgba(0,0,0,0);
    border-bottom: none;
    --lotta-border-border-bottom-initial-color: var(--yuki-base-200);
    z-index: 99;
    display: block;
}

.yuki-header-row-primary_navbar .container {
    min-height: 156px;
}

.yuki_header_el_logo {
    --logo-max-height: 98px;
    --logo-spacing: 15px;
    text-align: center;
}

.yuki_header_builder_col_primary_navbar_0_desktop {
    padding: 0px 0px 0px 0px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_builder_col_primary_navbar_0_mobile {
    padding: 0px 0px 0px 0px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki-header-row-bottom_row {
    background-color: var(--yuki-base-color);
    background-image: none;
    box-shadow: rgba(44, 62, 80, 0.1) 0px 2px 10px 0px;
    border-top: 4px solid var(--lotta-border-border-top-initial-color);
    --lotta-border-initial-color: var(--yuki-base-200);
    --lotta-border-border-top-initial-color: var(--yuki-primary-color);
    border-bottom: none;
    --lotta-border-border-bottom-initial-color: var(--yuki-base-200);
    z-index: 98;
    display: block;
}

.yuki-header-row-bottom_row .container {
    min-height: 60px;
}

.yuki_header_el_trigger {
    --yuki-icon-button-icon-initial-color: var(--yuki-accent-color);
    --yuki-icon-button-icon-hover-color: var(--yuki-primary-color);
    --yuki-icon-button-bg-initial-color: var(--yuki-base-100);
    --yuki-icon-button-bg-hover-color: var(--yuki-primary-active);
    --yuki-icon-button-border-initial-color: var(--yuki-base-200);
    --yuki-icon-button-border-hover-color: var(--yuki-primary-active);
    --yuki-icon-button-size: 14px;
    font-size: 14px;
}

.yuki_header_builder_col_bottom_row_0_desktop {
    padding: 0px 0px 0px 0px;
    width: 20%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_el_menu_2 > li {
    font-family: inherit;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1;
    text-transform: capitalize;
}

.yuki_header_el_menu_2 > li ul {
    font-family: inherit;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
}

.yuki_header_el_menu_2 {
    --menu-items-height: 50%;
    --dropdown-width: 200px;
    --menu-text-initial-color: var(--yuki-accent-color);
    --menu-text-hover-color: var(--yuki-primary-color);
    --menu-text-active-color: var(--yuki-primary-color);
    --menu-background-initial-color: var(--yuki-transparent);
    --menu-background-hover-color: var(--yuki-transparent);
    --menu-background-active-color: var(--yuki-transparent);
    --menu-items-margin: 0px 0px 0px 0px;
    --menu-items-padding: 4px 8px 4px 8px;
    --menu-items-radius: 0 0 0 0;
    --dropdown-text-initial-color: var(--yuki-accent-color);
    --dropdown-text-hover-color: var(--yuki-primary-color);
    --dropdown-text-active-color: var(--yuki-primary-color);
    --dropdown-background-initial-color: var(--yuki-base-color);
    --dropdown-background-active-color: var(--yuki-base-color);
    --dropdown-item-padding: 12px 12px 12px 12px;
    --dropdown-radius: 3px 3px 3px 3px;
    --dropdown-box-shadow: rgba(44, 62, 80, 0.2) 0px 0px 15px 0px;
    --dropdown-divider: none;
    --lotta-border-initial-color: var(--yuki-base-200);
    --lotta-border---dropdown-divider-initial-color: var(--yuki-base-200);
}

.yuki_header_builder_col_bottom_row_1_desktop {
    padding: 0px 0px 0px 0px;
    width: 60%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_el_socials {
    --yuki-social-icons-size: 14px;
    --yuki-social-icons-spacing: 14px;
    padding: 0px 12px 0px 12px;
    margin: 0px 0px 0px 0px;
}

.yuki_header_el_socials .yuki-social-link {
    --yuki-social-icon-initial-color: var(--yuki-accent-active);
    --yuki-social-icon-hover-color: var(--yuki-primary-active);
    --yuki-social-bg-initial-color: var(--yuki-base-100);
    --yuki-social-bg-hover-color: var(--yuki-primary-active);
    --yuki-social-border-initial-color: var(--yuki-base-200);
    --yuki-social-border-hover-color: var(--yuki-primary-active);
}

.yuki_header_el_theme_switch {
    --yuki-icon-button-icon-initial-color: var(--yuki-accent-color);
    --yuki-icon-button-icon-hover-color: var(--yuki-primary-color);
    --yuki-icon-button-bg-initial-color: var(--yuki-base-100);
    --yuki-icon-button-bg-hover-color: var(--yuki-primary-active);
    --yuki-icon-button-border-initial-color: var(--yuki-base-200);
    --yuki-icon-button-border-hover-color: var(--yuki-primary-active);
    --yuki-icon-button-size: 14px;
    font-size: 14px;
}

.yuki_header_el_search {
    --yuki-icon-button-icon-initial-color: var(--yuki-accent-color);
    --yuki-icon-button-icon-hover-color: var(--yuki-primary-color);
    --yuki-icon-button-bg-initial-color: var(--yuki-base-100);
    --yuki-icon-button-bg-hover-color: var(--yuki-primary-active);
    --yuki-icon-button-border-initial-color: var(--yuki-base-200);
    --yuki-icon-button-border-hover-color: var(--yuki-primary-active);
    --yuki-icon-button-size: 14px;
    font-size: 14px;
}

.yuki_header_el_search_modal {
    background-color: var(--yuki-base-color);
    background-image: none;
    --yuki-search-input-initial-color: var(--yuki-accent-color);
    --yuki-search-input-focus-color: var(--yuki-accent-color);
    --yuki-search-input-placeholder-color: var(--yuki-accent-color);
    --yuki-search-input-border-initial-color: var(--yuki-base-200);
    --yuki-search-input-border-focus-color: var(--yuki-primary-color);
    --yuki-modal-action-initial: var(--yuki-accent-active);
    --yuki-modal-action-hover: var(--yuki-primary-color);
}

.yuki_header_el_search_modal .search-input {
    text-align: center;
}

.yuki_header_builder_col_bottom_row_2_desktop {
    padding: 0px 0px 0px 0px;
    width: 20%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_builder_col_bottom_row_0_mobile {
    padding: 0px 0px 0px 0px;
    width: 20%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_builder_col_bottom_row_1_mobile {
    padding: 0px 0px 0px 0px;
    width: 60%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_header_builder_col_bottom_row_2_mobile {
    padding: 0px 0px 0px 0px;
    width: 20%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_footer_builder_col_top_0_all {
    padding: 14px 14px 14px 14px;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    --yuki-builder-elements-gap: 12px;
}

.yuki_footer_builder_col_top_1_all {
    padding: 14px 14px 14px 14px;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    --yuki-builder-elements-gap: 12px;
}

.yuki_footer_builder_col_top_2_all {
    padding: 14px 14px 14px 14px;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    --yuki-builder-elements-gap: 12px;
}

.yuki_footer_builder_col_top_3_all {
    padding: 14px 14px 14px 14px;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    --yuki-builder-elements-gap: 12px;
}

.yuki_footer_builder_col_middle_0_all {
    padding: 14px 14px 14px 14px;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    --yuki-builder-elements-gap: 12px;
}

.yuki_footer_builder_col_middle_1_all {
    padding: 14px 14px 14px 14px;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    --yuki-builder-elements-gap: 12px;
}

.yuki_footer_builder_col_middle_2_all {
    padding: 14px 14px 14px 14px;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    --yuki-builder-elements-gap: 12px;
}

.yuki_footer_builder_col_middle_3_all {
    padding: 14px 14px 14px 14px;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    --yuki-builder-elements-gap: 12px;
}

.yuki-footer-row-bottom {
    z-index: 98;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--yuki-base-color);
    background-image: none;
    border-top: 3px solid var(--lotta-border-border-top-initial-color);
    --lotta-border-initial-color: var(--yuki-base-300);
    --lotta-border-border-top-initial-color: var(--yuki-primary-color);
    border-bottom: none;
    --lotta-border-border-bottom-initial-color: var(--yuki-base-300);
}

.yuki_footer_el_menu > li {
    font-family: inherit;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1;
    text-transform: capitalize;
}

.yuki_footer_el_menu > li ul {
    font-family: inherit;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
}

.yuki_footer_el_menu {
    --menu-items-height: 50%;
    --dropdown-width: 200px;
    --menu-text-initial-color: var(--yuki-accent-color);
    --menu-text-hover-color: var(--yuki-primary-color);
    --menu-text-active-color: var(--yuki-primary-color);
    --menu-background-initial-color: var(--yuki-transparent);
    --menu-background-hover-color: var(--yuki-transparent);
    --menu-background-active-color: var(--yuki-transparent);
    --menu-items-margin: 0px 0px 0px 0px;
    --menu-items-padding: 4px 8px 4px 8px;
    --menu-items-radius: 0 0 0 0;
    --dropdown-text-initial-color: var(--yuki-accent-color);
    --dropdown-text-hover-color: var(--yuki-primary-color);
    --dropdown-text-active-color: var(--yuki-primary-color);
    --dropdown-background-initial-color: var(--yuki-base-color);
    --dropdown-background-active-color: var(--yuki-base-color);
    --dropdown-item-padding: 12px 12px 12px 12px;
    --dropdown-radius: 3px 3px 3px 3px;
    --dropdown-box-shadow: rgba(44, 62, 80, 0.2) 0px 0px 15px 0px;
    --dropdown-divider: none;
    --lotta-border-initial-color: var(--yuki-base-200);
    --lotta-border---dropdown-divider-initial-color: var(--yuki-base-200);
}

.yuki_footer_builder_col_bottom_0_all {
    padding: 14px 14px 14px 14px;
    width: 60%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

.yuki_footer_el_copyright {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.5em;
    color: var(--yuki-accent-active);
    --yuki-link-initial-color: var(--yuki-primary-color);
    --yuki-link-hover-color: var(--yuki-primary-active);
}

.yuki_footer_builder_col_bottom_1_all {
    padding: 14px 14px 14px 14px;
    width: 40%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    --yuki-builder-elements-gap: 12px;
}

@media (max-width: 1024px) {
    .yuki-body {
        --wp-admin-bar-height:32px;
    }

    .card-list {
        --card-thumbnail-width: 35%;
    }

    .card-wrapper {
        width: 50.00%;
    }

    .card .entry-title {
        font-size: 1rem;
    }

    .card .entry-metas {
        font-size: 0.65rem;
    }

    .yuki-archive-header .archive-title {
        font-size: 1.25rem;
    }

    .yuki-archive-header .archive-description {
        font-size: 0.875rem;
    }

    .yuki-off-canvas .yuki-modal-inner {
        width: 65vw;
    }

    .yuki_header_el_collapsable-menu {
        font-size: 1rem;
    }

    .yuki-header-row-primary_navbar {
        display: block;
    }

    .yuki-header-row-bottom_row {
        display: block;
    }

    .yuki_footer_builder_col_top_0_all {
        width: 50%;
    }

    .yuki_footer_builder_col_top_1_all {
        width: 50%;
    }

    .yuki_footer_builder_col_top_2_all {
        width: 50%;
    }

    .yuki_footer_builder_col_top_3_all {
        width: 50%;
    }

    .yuki_footer_builder_col_middle_0_all {
        width: 50%;
    }

    .yuki_footer_builder_col_middle_1_all {
        width: 50%;
    }

    .yuki_footer_builder_col_middle_2_all {
        width: 50%;
    }

    .yuki_footer_builder_col_middle_3_all {
        width: 50%;
    }

    .yuki-footer-row-bottom {
        display: block;
    }

    .yuki_footer_builder_col_bottom_0_all {
        width: 100%;
        justify-content: center;
    }

    .yuki_footer_builder_col_bottom_1_all {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .yuki-body {
        --wp-admin-bar-height:46px;
    }

    .card-list {
        --card-thumbnail-width: 100%;
    }

    .card-wrapper {
        width: 100.00%;
    }

    .card .entry-title {
        font-size: 1rem;
    }

    .card .entry-metas {
        font-size: 0.65rem;
    }

    .yuki-archive-header .archive-title {
        font-size: 1rem;
    }

    .yuki-archive-header .archive-description {
        font-size: 0.75em;
    }

    .yuki-off-canvas .yuki-modal-inner {
        width: 90vw;
    }

    .yuki_header_el_collapsable-menu {
        font-size: 1rem;
    }

    .yuki-header-row-primary_navbar {
        display: block;
    }

    .yuki-header-row-bottom_row {
        display: block;
    }

    .yuki_footer_builder_col_top_0_all {
        width: 100%;
    }

    .yuki_footer_builder_col_top_1_all {
        width: 100%;
    }

    .yuki_footer_builder_col_top_2_all {
        width: 100%;
    }

    .yuki_footer_builder_col_top_3_all {
        width: 100%;
    }

    .yuki_footer_builder_col_middle_0_all {
        width: 100%;
    }

    .yuki_footer_builder_col_middle_1_all {
        width: 100%;
    }

    .yuki_footer_builder_col_middle_2_all {
        width: 100%;
    }

    .yuki_footer_builder_col_middle_3_all {
        width: 100%;
    }

    .yuki-footer-row-bottom {
        display: block;
    }

    .yuki_footer_builder_col_bottom_0_all {
        width: 100%;
        justify-content: center;
    }

    .yuki_footer_builder_col_bottom_1_all {
        width: 100%;
        justify-content: center;
    }
}